/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Gallery container */
.gallery-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
}

.gallery-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

/* Gallery grid */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

/* Gallery item */
.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}

/* .gallery-item:hover {
    transform: scale(1.05);
} */

/* Gallery images */
.gallery-item img {
    width: 300px;
    height: 300px;
    /* object-fit: cover; */
}
