/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2{
    text-align: center;
}

/* Table container */
.table-container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table styling */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table thead tr {
    background-color: #4CAF50;
    color: white;
    text-align: left;
}

.data-table th, .data-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data-table tbody tr:hover {
    background-color: #f1f1f1;
}

.action-btn {
    background-color: #ee2e3e;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #e6e92a;
}
